#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid rgb(22, 22, 22);
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
   
}
#textbox
{
    width: 300px;
}

body{color: navy; background-color: rgb(232, 228, 244);}

textarea{background-color: rgb(28, 60, 60);}
